/* ------------ css reset ---------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
a img { border: none; }
html{
	/* background:#EBF0EF; */
}
body{
	font:14px/1.5 Tahoma, Helvetica, Arial, \5b8b\4f53;
	color:#000;
	text-align:center;
}
img{
	border:none;
}
a{
	color:#168BC3;
	text-decoration:none;
}
a:hover{
	color:#FF881C;
	text-decoration:none;
}
ul{
	list-style:none;
}
.clear{
	clear:both;
}
.left{
	float:left;
}
.right{
	float:right;
}
.hide{
	display:none;
	}
/* ------------ common ---------------------------- */
#header{
	height:50px;
	margin:0 auto;
	text-align:left;
	border-bottom:2px solid #168BC3;
	}
#main{
	margin:0 auto;
	text-align:left;
	}
h1{
	font-size:28px;
	color:#168BC3;
	}
h1 span{
	font-size:14px;
	color:#777;
	margin-left:7px;
	}
h2{
	font-size:20px;
	color:#168BC3;
	margin:30px 0 12px;
	}
h2 span{
	font-size:22px;
	color:#FFF;
	margin-right:7px;
	background-color:#168BC3;
	width:33px;
	display:inline-block;
	text-align:center;
	}
#input span{
	color:#168BC3;
	font-weight:bold;
	font-size:22px;
	margin:0 20px;
	}
#input input{
    border: 1px solid #999;
    border-radius: 3px 3px 3px 3px;
    font-size: 14px;
    height: 18px;
    padding: 5px;
	margin-left:5px;
}
#input p{
	font-size:12px;
	color:#999;
	margin-top:16px;
	}
.other{
	font-size:12px;
	color:#999;
	}
#code16{
	display:inline-block;
	width:140px;
	text-align:center;
	}
.code16d{
	border:2px solid #168BC3;
	}
.code16h{
	border:2px solid #FF881C;
	}
#copycode16{
	color:#FFF;
	display:inline-block;
	padding:0 3px;
	cursor:pointer;
	}
.copycode16d{
	background-color:#168BC3;
	border:2px solid #168BC3;
	}
.copycode16h{
	background-color:#FF881C;
	border:2px solid #FF881C;
	}
#tuijian{
	margin-bottom:5px;
	}
p{
	font-size:12px;
	color:#999;
	margin:5px 0;
	}
#copyOK{
	color:#FFF;
	border:2px solid #FFF;
	display:inline-block;
	margin-left:16px;
	padding:0 3px;
	}
#get{
	border-bottom:2px solid #168BC3;
}
#zc{
	cursor:pointer;
	}
#footer{
	margin:20px 0;
	border-top:2px solid #168BC3;
	padding:5px 0 0;
	}
	
